* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1920px;
  width: 100%;
}

